.App {
  text-align: center;
  background-image: url("https://cdn.shopify.com/s/files/1/0094/1621/2537/articles/dreamdesk_1920x.jpg?v=1565028309g");
  background-position:center center;
  background-repeat: no-repeat;
  background-size:cover;
  height: 100%;
}

.profile{
  background-color: rgba(255, 255, 238,0.7);
  margin-left:230px;
  border: 10px solid black;
  height:610px;
  width:800px;
}

.navs{
  background-color: black;
  color: white;
  font: 1em sans-serif;
  height: 50px;
  border: 10px solid black;
  text-align: center;
}

.image{
  height: 300px;
  width: 280px;
  margin-top: 60px;
  float: left;
  padding-left: 20px;
}

.content{
  margin-top: 55px;
   margin-left: 350px;
   left: 0;
   text-align: justify;
}

.skill{
  border-radius: 5px;
  display: inline-flex;
  margin-right: 12px;
  border: 2px solid black;
}